body {
	background: #eee;
	height: 100%;
	width: 100%;
	margin: 0;
}

.container {
	font-family: "Open Sans", sans-serif;
	background: #fff;
	box-shadow: 7px 7px 46px -10px rgba(0,0,0,0.43);
	width: 640px;
	height: 290px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	position: absolute;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h1 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
